# Laravel
*.log
.env
.env.backup
.env.production
.auth.json
Homestead.json
Homestead.yaml
.phpunit.result.cache
.phpunit.cache
public/build
public/hot
public/storage
/storage/*.key
/storage/pail
/vendor
*.codex
.cursor/
.phpactor.json

# IDE
.DS_Store
.idea/
.nova
.vscode
.zed
Thumbs.db

# Flutter / Dart
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/
/coverage/

# Android build
/android/app/debug
/android/app/profile
/android/app/release

# Misc
*.iml
*.ipr
*.iws
*.class
*.pyc
*.swp
*.symbols
*.map.json
